# Fifa Rankings

## FIFA Women's World Ranking - Key Criteria
[Fifa Ranking procedure for women link](https://www.fifa.com/fifa-world-ranking/procedure/women)

#### Result of the Match
- Home vs away, or neutral ground
- Importance of the match
- Difference in WWR between the teams
- Basics of the Ranking method

#### The basic formula of the WWR is in fact quite simple:

WWR,new = WWR,old + ( Actual - Predicted )

The result of a team's match is converted into a value: "Actual". Via some formulae, the difference in rating points (strength) results in a "Predicted" value.

Should the "Actual" value be better, then the new WWR will be higher than the old one. This is fair, as the team will have delivered more than was expected. The underachiever loses the same amount of rating points as their opponents have won; their "Predicted" result is greater than their "Actual" result, i.e. they have not done as well as expected.

A conclusion that can be drawn for this basic rule is that the rating points which a team earns for a win is dependent on the strength of the opponent. A win over an extremely weak team scarcely improves their standing in the WWR, while a win over a stronger team is awarded with a clear increase of the WWR value.

## FIFA Men's World Ranking 
[Fifa Ranking procedure for men link](https://img.fifa.com/image/upload/edbm045h0udbwkqew35a.pdf)

#### The formula for the SUM algorithm is as follows:
P = Pbefore + I * (W – We)

**Pbefore**: Points before the match
**I**: importance of match
**W**: result of the match
**We**: expected result of the match

In [13]:
import requests
import pandas as pd

### Function to create the dataframes

In [202]:
def scrape_fifa(url,year,gender):
    url = url
    html = requests.get(url).content
    df_list = pd.read_html(html)
    df = df_list[0]
    df.insert(0, 'Year', year)
    df.insert(1, 'Gender', gender)
    df.insert(2, 'Country ISO3', df['Team  Team'].apply(lambda x: x[-3:]))
    df.insert(3, 'Country Name', df['Team  Team'].apply(lambda x: x[:-3]))
    df = df[['Year','Gender','Country ISO3','Country Name','Rnk','Total Points  PTS','Previous Points  Prev.Pts','+/-']]
    return df

## Women

In [203]:
woman_03_2020 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20200327/','2020','F')
woman_12_2019 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20191213/','2019','F')
woman_12_2018 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20181207/','2018','F')
woman_12_2017 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20171215/','2017','F')
woman_12_2016 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20161223/','2016','F')
woman_12_2015 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20151218/','2015','F')
woman_12_2014 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20141219/','2014','F')
woman_12_2013 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20131213/','2013','F')
woman_12_2012 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20121207/','2012','F')
woman_12_2011 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20111223/','2011','F')
woman_11_2010 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20101119/','2010','F')
woman_12_2009 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20091218/','2009','F')
woman_12_2008 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20081219/','2008','F')
woman_12_2007 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20071221/','2007','F')
woman_12_2006 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/women/rank/ranking_20061222/','2006','F')

In [204]:
woman_fifa_ranking = pd.concat([woman_12_2006, woman_12_2007, woman_12_2008, woman_12_2009, woman_11_2010,woman_12_2011,woman_12_2012,woman_12_2013,woman_12_2014,woman_12_2015,woman_12_2016,woman_12_2017,woman_12_2018,woman_12_2019,woman_03_2020], ignore_index=True)
woman_fifa_ranking

,Year,Gender,Country ISO3,Country Name,Rnk,Total Points PTS,Previous Points Prev.Pts,+/-
0,2006,F,GER,Germany,1,2229,2223,0
1,2006,F,USA,USA,2,2184,2201,0
2,2006,F,NOR,Norway,3,2075,2062,0
3,2006,F,SWE,Sweden,4,2037,2035,1
4,2006,F,PRK,Korea DPR,5,2024,1999,2
...,...,...,...,...,...,...,...,...
1984,2020,F,AND,Andorra,155,749,749,-4
1985,2020,F,COM,Comoros,156,731,731,-4
1986,2020,F,ARU,Aruba,157,724,724,-4
1987,2020,F,MAD,Madagascar,158,691,691,-4
1988,2020,F,MRI,Mauritius,159,357,357,-4

## Men

In [205]:
men_04_2020 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/','2020','M')
men_12_2019 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id12770/','2019','M')
men_12_2018 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id12406/','2018','M')
men_12_2017 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id12042/','2017','M')
men_12_2016 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id11678/','2016','M')
men_12_2015 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id11293/','2015','M')
men_12_2014 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id10943/','2014','M')
men_12_2013 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id10579/','2013','M')
men_12_2012 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id10214/','2012','M')
men_12_2011 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id9850/','2011','M')
men_12_2010 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id9479/','2010','M')
men_12_2009 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id9115/','2009','M')
men_12_2008 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id8751/','2008','M')
men_12_2007 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id8385/','2007','M')
men_12_2006 = scrape_fifa('https://www.fifa.com/fifa-world-ranking/ranking-table/men/rank/id151/','2006','M')

In [209]:
men_fifa_ranking = pd.concat([men_12_2006, men_12_2007, men_12_2008, men_12_2009, men_12_2010,men_12_2011,men_12_2012,men_12_2013,men_12_2014,men_12_2015,men_12_2016,men_12_2017,men_12_2018,men_12_2019,men_04_2020], ignore_index=True)
men_fifa_ranking

,Year,Gender,Country ISO3,Country Name,Rnk,Total Points PTS,Previous Points Prev.Pts,+/-
0,2006,M,BRA,Brazil,1,1588,1588.0,0
1,2006,M,ITA,Italy,2,1560,1560.0,0
2,2006,M,ARG,Argentina,3,1551,1551.0,0
3,2006,M,FRA,France,4,1523,1523.0,0
4,2006,M,ENG,England,5,1359,1359.0,0
...,...,...,...,...,...,...,...,...
3129,2020,M,SRI,Sri Lanka,206,853,853.0,0
3130,2020,M,VIR,US Virgin Islands,207,844,844.0,0
3131,2020,M,VGB,British Virgin Islands,208,842,842.0,0
3132,2020,M,SMR,San Marino,209,824,824.0,0
3133,2020,M,AIA,Anguilla,210,821,821.0,0

## Women & Men

In [210]:
fifa_ranking = pd.concat([woman_fifa_ranking,men_fifa_ranking])

In [211]:
fifa_ranking

,Year,Gender,Country ISO3,Country Name,Rnk,Total Points PTS,Previous Points Prev.Pts,+/-
0,2006,F,GER,Germany,1,2229,2223.0,0
1,2006,F,USA,USA,2,2184,2201.0,0
2,2006,F,NOR,Norway,3,2075,2062.0,0
3,2006,F,SWE,Sweden,4,2037,2035.0,1
4,2006,F,PRK,Korea DPR,5,2024,1999.0,2
...,...,...,...,...,...,...,...,...
3129,2020,M,SRI,Sri Lanka,206,853,853.0,0
3130,2020,M,VIR,US Virgin Islands,207,844,844.0,0
3131,2020,M,VGB,British Virgin Islands,208,842,842.0,0
3132,2020,M,SMR,San Marino,209,824,824.0,0
3133,2020,M,AIA,Anguilla,210,821,821.0,0

### Export dataframe

In [212]:
fifa_ranking.to_csv(r'complete_fifa_ranking.csv', index = False)